html,body {
    font-family: 'SF Pro Display', 'Arial', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: unset;
    background-color: rgb(236,236,236);
}

.mainBody-container {
    height: fit-content;
    width: 100%;
    background-color: rgb(236,236,236);
    display: flex;
    flex-direction: column;
}

.top-header {
    height: 47.7777px;
    width: 100%;
    background-color: rgb(200, 234, 255);
    text-align: center;
}

.top-header > img {
    width: 1200px;
}

.main-header {
    height: 74px;
    width: 100%;
    background-color: rgb(227,0,25);
    display: flex;
    align-items: center;
    justify-content: center;
}

body > .mainBody-container > .main-header {
    position: sticky;
    top: 0;
    z-index: 100%;
}

.main-header > .container {
    height: 74px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.left-container {
    height: 42px;
    width: 261.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-container > img {
    height: 31.77px;
    width: 140px;
}

.left-container > div {
    height: 100%;
    width: 105.2px;
    border-radius: 4px;
    background-color: rgb(190,21,41);
    display: flex;
}

.menu > .box-icon {
    height: 100%;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > .box-icon > img {
    height: 65%;
    width: 23px;
}

.menu > .box-text {
    height: auto;
    width: auto;
    font-size: 13px;
    font-weight: 600;
    padding-right: 5px;
    margin: auto;
    color: white;
}

.right-container {
    height: 42px;
    width: 938.8px;
    margin-left: 8px;
    display: flex;
}

.search-bar {
    height: 100%;
    width: 415.84px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: right;
}

.search-bar > input, input:focus {
    height: 100%;
    width: 415.84px;
    color: rgb(130,130,121);
    font-size: 16px;
    font-weight: 400;
    border: 0px solid;
    outline: none;
    padding-left: 15px;
    background-color: transparent;
    border-color: unset;
}

.search-bar > .box-icon {
    height: 100%;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar > .box-icon > img {
    height: 23.67px;
    width: 23.67px;
}

.hotline {
    height: 100%;
    width: 110.88px;
    margin-left: 8px;
    display: flex;
}

.hotline > .box-icon {
    height: 100%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotline > .box-icon > img {
    height: 24px;
    width: 24px;
}

.hotline > .box-text {
    height: auto;
    width: auto;
    margin: auto;
    padding-left: 3px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.showroom {
    height: 100%;
    width: 109.19px;
    margin-left: 8px;
    display: flex;
}

.showroom > .box-icon {
    height: 100%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showroom > .box-icon > img {
    height: 24px;
    width: 24px;
}

.showroom > .box-text {
    height: auto;
    width: auto;
    margin: auto;
    padding-left: 3px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.order-tracking {
    height: 100%;
    width: 100.92px;
    margin-left: 8px;
    display: flex;
}

.order-tracking > .box-icon {
    height: 100%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-tracking > .box-icon > img {
    height: 24px;
    width: 24px;
}

.order-tracking > .box-text {
    height: auto;
    width: auto;
    margin: auto;
    padding-left: 3px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.item-car {
    height: 100%;
    width: 76.05px;
    margin-left: 8px;
    display: flex;
}

.item-car > .box-icon {
    height: 100%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-car > .box-icon > img {
    height: 24px;
    width: 24px;
}

.item-car > .box-text {
    height: auto;
    width: auto;
    margin: auto;
    padding-left: 3px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.login {
    height: 100%;
    width: 79.92px;
    margin-left: 8px;
    display: flex;
    border-radius: 4px;
    background-color: rgb(190,21,41);
}

.login > .box-icon {
    height: 100%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login > .box-icon > img {
    height: 24px;
    width: 24px;
}

.login > .box-text {
    height: auto;
    width: auto;
    margin: auto;
    padding-left: 3px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.sub-header {
    height: 41px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header > .container {
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.voucher, .new, .video, .payment-help, .load-help, .warranty {
    padding: 10px 32px;
    display: flex;
    justify-content: center;
}

.sub-header-box-icon {
    width: 19px;
    display: flex;
    justify-content: center;
}

.sub-header-box-icon > img {
    height: 19px;
    width: 19px;
}

.sub-header-box-text {
    height: auto;
    width: auto;
    margin: auto;
    padding-left: 3px;
    color: #141414;
    font-size: 13px;
    font-weight: 600;
}

.main-content {
    height: fit-content;
    width: 100%;
    background-color: rgb(236,236,236);
}

.content-detail {
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.position {
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.home, .vga {
    padding: 14px 0px;
    display: flex;
    justify-content: center;
}

.position-box-icon {
    display: flex;
    align-items: center;
}

.position > span {
    font-size: 14px;
    font-weight: 500;
    color: rgb(109,110,114);
}

.home > span {
    color: rgb(25,130,249);
}
.position-box-icon > img {
    height: 18px;
    width: 18px;
}
.position-box-text {
    margin: auto;
    color: rgb(109,110,114);
    font-size: 14px;
    font-weight: 500;
}

.advertise-pic {
    height: 266.484px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.advertise-pic > img {
    height: 100%;
    width: 1200px;
    
}

.item-list {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    background-color: rgb(236,236,236);
}

.item-popup {
    height: fit-content;
    width: 1200px;
    background-color: white;
    border-radius: 4px;
}

.panel {
    width: auto;
    height: 78px;
    padding: 24px;
}

.top-panel {
    display: flex;
    gap: 5px;
}

.item-filter, .item-detail, .item-price, .vga-brand, .vga-type, .vga-vram, .vga-local-brand {
    padding: 4px 10px;
    height: 25px;
    width: auto;
    display: flex;
    border: 1px solid #ddd;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
}

.panel-box-text {
    font-size: 13px;
    color: #141414;
    font-weight: 400;
}

.panel-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-box-icon > img {
    width: 18px;
}

.bottom-panel {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.avarage-filter {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 5px;
}

.panel-box-text-bold {
    font-size: 13px;
    color: #141414;
    font-weight: 600;
}

.avarage-filter > span {
    margin: 2px;
}

.product {
    width: auto;
    height: 100%;
    margin: 0px 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.product-card {
    display: table-column;
    height: 432.391px;
    width: 230.391px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.product-card > img {
    margin-top: 40px;
    width: 100%;
    height: 230.391px;
}

.product-card > div {
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    margin-top: 15px;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9em;
}

.price {
    color: red;
    font-size: 16px;
}
.setup-price {
    display: flex;
    margin-top: 5px;
}

.sale {
    color: red;
    padding: 0px 3px;
    font-weight: normal;
    border: 1px solid red;
    background-color: rgb(255,237,237);
    margin-left: 20px;
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    color: rgb(255,138,0);
}

.comment {
    color: #999;
    font-size: 12px;
    padding-left: 10px;
    font-weight: normal;
}